
<div class=" w-full h-full flex items-center justify-center flex-col">
  <p class="font-serif">Menu</p>
  <p class="font-semibold pb-4 text-2xl">Explore our featured food</p>
  <div class=" w-screen h-screen pb-2 flex flex-row justify-center">
    <div class=" w-96 h-70 flex flex-row  border-solid rounded-lg pb-12  ">
     <div class="	 bg-cover pt-2 bg-no-repeat bg-top bg-opacity-70 w-32 h-28 rounded-tl-full border-double border-4 border-yellow-300 " style="background-image: url(./../../../assets/img/saimo.jfif)"></div>
      <div class=" ml-4 w-3/4">
        <p class="font-semibold text-xl ">Sam</p>
        <p>Sylnet</p>
        <ul >
          <li><span *ngFor="let item of start" class="text-yellow-300 mdi mdi-star text-2xl cursor-pointer hover:text-gray-500"></span></li>
        </ul>
        <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Itaque obcaecati excepturi asperiores ab quibusdam ut fugiat voluptas? Corporis
           ab in non odit ut beatae sequi, qui voluptatibus. Inventore, delectus ut!</p>
      </div>
    </div>
    <div class="ml-8 w-96 h-70 flex flex-row  border-solid rounded-lg pb-12">
     <div class="	bg-top bg-cover pt-2 bg-no-repeat  bg-opacity-70 w-28 h-28 rounded-tl-full border-double border-4 border-yellow-300 " style="background-image: url(./../../../assets/img/sam.jfif)"></div>
      <div class=" ml-4 w-3/4">
        <p class="font-semibold text-xl ">Andrea</p>
        <p>Sylnet</p>
        <ul >
          <li><span *ngFor="let item of start" class="text-yellow-300 mdi mdi-star text-2xl cursor-pointer hover:text-gray-500"></span></li>
        </ul>
        <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Itaque obcaecati excepturi asperiores ab quibusdam ut fugiat voluptas? Corporis
           ab in non odit ut beatae sequi, qui voluptatibus. Inventore, delectus ut!</p>
      </div>
    </div>

  </div>
  <div class="w-full h-full   flex justify-center ">
    <div class="flex justify-center items-center flex-col absolute -mt-8 bg-white w-3/6 h-40 border-solid rounded-3xl   border-2 border-gray-500">
      <p class="font-semibold pb-2 text-xl">Get Special Discount</p>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt molestiae soluta dolorum perferendis quod eius minima ve</p>
      <div class="flex flex-row">
        <input type="email" class=" w-64 h-10 rounded-full border-double border-4  border-yellow-300" name="email" id="email">
        <button class="rounded-full w-24 h-10 bg-yellow-300 text-white" type="submit">Subscribe</button>
      </div>
    </div>
    <div class="flex flex-row bg-yellow-300 w-full h-full">
        <div class=" w-1/4">
          <div class=" ml-16 pt-12 flex items-center flex-col justify-center  flex-shrink-0 text-gray-700 w-2/6 h-full ">

            <p class="font-semibold italic text-xl tracking-tight text-black"> <span class=" mdi mdi-alpha-b-circle text-2xl cursor-pointer hover:text-gray-500"></span>esnik</p>
            <div class="ml-4 flex text-left  justify-start flex-row text-gray-700">
              <span class=" mdi mdi-twitter text-2xl cursor-pointer hover:text-gray-500"></span>
              <span class=" mdi mdi-facebook text-2xl cursor-pointer hover:text-gray-500"></span>
              <span class=" mdi mdi-instagram text-2xl cursor-pointer hover:text-gray-500"></span>
              <span class=" mdi mdi-linkedin text-2xl cursor-pointer hover:text-gray-500"></span>

            </div>
          </div>

        </div>
        <div class=" w-1/4 flex items-center justify-center">
          <div class=" pt-10 h-28 text-left flex  flex-col  justify-start text-gray-700 w-2/5 ">
            <p class="font-semibold  text-xl tracking-tight pt-1 text-black">Contact</p>

            <p class="text-xs text-left"><span class=" mdi mdi-map-marker-check-outline text-sm cursor-pointer hover:text-gray-500"></span> Cll 4 n 2-22 avenida America del Caribe</p>
            <p class="text-xs text-left"> <span class=" mdi mdi-message-text-outline text-sm cursor-pointer hover:text-gray-500"></span> 570-345-234-345</p>
            <p class="text-xs text-left"> <span class=" mdi mdi-at text-sm cursor-pointer hover:text-gray-500"></span> suppert@gmail.com</p>

          </div>

        </div>
        <div class=" w-1/5 items-center justify-center">
          <div class=" pt-32 text-left h-28 flex  flex-col justify-start text-gray-700 w-2/5 ">
            <p class="font-semibold  text-xl tracking-tight pt-1 text-black">Support</p>

            <p class="text-xs"> Faq</p>
            <p class="text-xs"> Shipping & retuns</p>
            <p class="text-xs"> Contact Us</p>
            <p class="text-xs"> Our Partners</p>

          </div>

        </div>
        <div class=" w-1/3 items-center justify-center">
          <div class=" pt-32 text-left h-28 flex  flex-col justify-start text-gray-700 w-2/5 ">
            <p class="font-semibold  text-xl tracking-tight pt-1 text-black">Info</p>

            <p class="text-xs">About Us</p>
            <p class="text-xs">Out Stores</p>
            <p class="text-xs">Size Guide</p>
            <p class="text-xs">Our Pierceng Service</p>

          </div>
        </div>
    </div>
   </div>

</div>

