
<app-navbar></app-navbar>
<div class=" w-full  h-5/6 flex justify-center  pb-4">
  <div class="w-3/5  flex items-center flex-col ">
    <div class="w-2/4">
      <p class="font-semibold text-5xl pt-20">Order your</p>
      <p class=" font-semibold text-5xl ">
        Favorite <span class="text-yellow-400">Food</span>
      </p>
    </div>
      <div class="w-2/4">
        <p class="text-left  pt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem perferendis ab doloribus ipsam beatae ut cupiditate labore natus. Odit iste quia nisi delectus? Consectetur eius excepturi ducimus quos incidunt voluptatum!</p>

        <button class="bg-yellow-400 rounded-full w-28 h-10">Open now</button>

      </div>
  </div>
<div class="w-1/2 h-5/6  border-double border-8 border-yellow-300  flex items-end justify-end rounded-bl-full  outline-double  bg-no-repeat bg-cover bg-center" style="background-image: url(../../../assets/img/frutas.png)">

</div>
</div>
<app-meat></app-meat>
<app-apps></app-apps>
<app-featured></app-featured>
<app-footer></app-footer>
