<div class="w-full h-3/4 flex items-center flex-col ">
    <p class="font-serif">Online Store</p>
    <p class="font-semibold pb-8 text-2xl">Popular Products</p>
    <div class=" flex flex-row">
      <div class=" w-80 h-80 flex items-center flex-col">
        <div class=" bg-cover pt-2 bg-no-repeat bg-center bg-opacity-70 w-36 h-36 rounded-full " style="background-image: url(./../../../assets/img/fruit1.png)"></div>

        <ul >
          <li><span *ngFor="let item of start" class="text-yellow-300 mdi mdi-star text-2xl cursor-pointer hover:text-white"></span></li>
        </ul>
        <p>Besnik food</p>
        <p class="font-semibold text-2xl pb-4">Fruit dish</p>
        <button class="bg-yellow-400 rounded-full w-52 h-10">Open now fruit</button>


      </div>

      <div class=" w-80 h-80 flex items-center flex-col">
        <div class=" bg-cover pt-2 bg-no-repeat bg-center bg-opacity-70 w-36 h-36 rounded-full " style="background-image: url(./../../../assets/img/fruit2.png)"></div>

        <ul >
          <li><span *ngFor="let item of start" class="text-yellow-300 mdi mdi-star text-2xl cursor-pointer hover:text-gray-500"></span></li>
        </ul>
        <p>Besnik food</p>
        <p class="font-semibold text-2xl pb-4">Fruit dish</p>
        <button class="bg-yellow-400 rounded-full w-52 h-10">Open now fruit</button>
      </div>
      <div class=" w-80 h-80 flex items-center flex-col">
        <div class=" bg-cover pt-2 bg-no-repeat bg-center bg-opacity-70 w-36 h-36 rounded-full " style="background-image: url(./../../../assets/img/fruit4.png)"></div>

        <ul >
          <li><span *ngFor="let item of start" class="text-yellow-300 mdi mdi-star text-2xl cursor-pointer hover:text-gray-500"></span></li>
        </ul>
        <p>Besnik food</p>
        <p class="font-semibold text-2xl pb-4">Sea Fish dish</p>
        <button class="bg-yellow-400 rounded-full w-52 h-10">Open now fruit</button>
      </div>
      <div class=" w-80 h-80 flex items-center flex-col">
        <div class=" bg-cover pt-2 bg-no-repeat bg-center bg-opacity-70 w-36 h-36 rounded-full " style="background-image: url(./../../../assets/img/fruit5.png)"></div>

        <ul >
          <li><span *ngFor="let item of start" class="text-yellow-300 mdi mdi-star text-2xl cursor-pointer hover:text-gray-500"></span></li>
        </ul>
        <p>Besnik food</p>
        <p class="font-semibold text-2xl pb-4">Pancake</p>
        <button class="bg-yellow-400 rounded-full w-52 h-10">Open now fruit</button>
      </div>


    </div>
</div>
