<nav class=" flex items-center justify-center flex-wrap p-4 w-full">


  <div class="w-5/6   flex items-center  justify-start  " id="mobile-menu-3">
    <div class="flex items-center  flex-shrink-0 text-gray-700 w-2/6 h-full ">
      <p class="font-semibold italic text-xl tracking-tight text-black"> <span class=" mdi mdi-alpha-b-circle text-2xl cursor-pointer hover:text-gray-500"></span>esnik</p>
    </div>


   <div class="w-2/6 flex items-center justify-center  h-full">

     <ul class="text-xl ">
       <li class="block mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-black mr-10"><a href="" >Home</a></li>
       <li class="block mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-black mr-10"><a href="">Meat</a></li>
       <li class="block mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-black mr-10"><a href="">blog</a></li>
       <li class="block mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-black mr-10"><a href="">Pages</a></li>
     </ul>
    </div>
    <div class="w-2/6 flex items-center justify-end h-full ">

      <form class=" text-black w-72 	">
        <mat-form-field>
          <mat-placeholder class="text-gray-600 text-lg"> Search </mat-placeholder>
          <input matInput  type="search">
          <button mat-button matSuffix mat-stroked-button aria-label="search">
            <mat-icon class="text-gray-600">search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>

  </div>
</nav>
